
VMBrevisCore/bin/Debug/netstandard2.0/VMBrevisCore.deps.json
VMBrevisCore/bin/Debug/netstandard2.0/VMBrevisCore.dll
VMBrevisCore/bin/Debug/netstandard2.0/VMBrevisCore.pdb
VMBrevisCore/bin/Release/netstandard2.0/VMBrevisCore.deps.json
VMBrevisCore/bin/Release/netstandard2.0/VMBrevisCore.dll
VMBrevisCore/bin/Release/netstandard2.0/VMBrevisCore.pdb
VMBrevisCore/Gerenciador/Altera.cs
VMBrevisCore/Gerenciador/Busca.cs
VMBrevisCore/Gerenciador/Inclui.cs
VMBrevisCore/Gerenciador/Remove.cs
VMBrevisCore/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
VMBrevisCore/obj/Debug/netstandard2.0/VMBrevisCore.AssemblyInfo.cs
VMBrevisCore/obj/Debug/netstandard2.0/VMBrevisCore.AssemblyInfoInputs.cache
VMBrevisCore/obj/Debug/netstandard2.0/VMBrevisCore.assets.cache
VMBrevisCore/obj/Debug/netstandard2.0/VMBrevisCore.csproj.CoreCompileInputs.cache
VMBrevisCore/obj/Debug/netstandard2.0/VMBrevisCore.csproj.FileListAbsolute.txt
VMBrevisCore/obj/Debug/netstandard2.0/VMBrevisCore.dll
VMBrevisCore/obj/Debug/netstandard2.0/VMBrevisCore.pdb
VMBrevisCore/obj/project.assets.json
VMBrevisCore/obj/project.nuget.cache
VMBrevisCore/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
VMBrevisCore/obj/Release/netstandard2.0/VMBrevisCore.AssemblyInfo.cs
VMBrevisCore/obj/Release/netstandard2.0/VMBrevisCore.AssemblyInfoInputs.cache
VMBrevisCore/obj/Release/netstandard2.0/VMBrevisCore.assets.cache
VMBrevisCore/obj/Release/netstandard2.0/VMBrevisCore.csproj.CoreCompileInputs.cache
VMBrevisCore/obj/Release/netstandard2.0/VMBrevisCore.csproj.FileListAbsolute.txt
VMBrevisCore/obj/Release/netstandard2.0/VMBrevisCore.dll
VMBrevisCore/obj/Release/netstandard2.0/VMBrevisCore.pdb
VMBrevisCore/obj/VMBrevisCore.csproj.nuget.dgspec.json
VMBrevisCore/obj/VMBrevisCore.csproj.nuget.g.props
VMBrevisCore/obj/VMBrevisCore.csproj.nuget.g.targets
VMBrevisCore/obj/Debug/netstandard2.0/VMBrevisCore.csprojAssemblyReference.cache
